/* Custom styles added to demo */

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}

/* 调整主内容区域 */
.main {
    max-width: 900px !important;
}

/* 隐藏首页欢迎区块 */
.main .home-info,
.home-info {
    display: none !important;
}